#add-post-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-color: white;
  border: .5px solid #dedede;
  margin-bottom: 22px;
  box-shadow: 0 1px 1px #dedede;
}

#add-post-circle-div {
  background-color: teal;
    border-radius: 25px;
    height: 22px;
    width: 22px;
    margin: 6px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#add-comment-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fafafa;
  border-bottom: .5px solid #dedede;
}

#link-to-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

#post-owner-text {
  color: #999;
  font-size: 14px;
}

#post-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#textarea-div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: white;
}

#button-div {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-bottom: 10px;
}

#content-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 90%;
  border: none;
  resize: none;
}

#content-input::placeholder {
  color: #999;
  font-weight: 700;
}


#content-input:focus {
  outline: none;
}

#add-comment-button {
  background-color: #467aff;
  border: none;
  margin: 3px;
  border-radius: 15px;
  height: 30px;
  width: 120px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}

#add-comment-button:hover {
  background-color: #2e69ff;

}

#add-comment-circle-div {
  background-color: teal;
    border-radius: 25px;
    height: 35px;
    width: 35px;
    margin: 6px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
