#questions-feed {
  background-color: white;
  width: 600px;
  border: .5px solid #dedede;
}

#top-div {
  font-size: 14px;
  color: #999;
  border-bottom: 2px solid #eeeeee;
  display: flex;
  align-items: center;
}

#question-box {
  margin: 15px;
  display: flex;
}

#delete-question-button {
  margin: 15px;
  background-color: #dedede;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

#delete-question-button:hover {
  background-color: #999;
}

#question-topicname-text {
  font-size: 14px;
}

#answers-number {
  font-weight: 600;
  font-size: 14px;
}

#question-text {
  width: 100%;
  border-bottom: .5px solid #dedede;
}

#answer-box {
  margin: 15px;
}

#answer-background {
  background-color: #f6f6f6;
  width: fit-content;
}

#star-background {
  background-color: #B92B27;
  margin-left: 15px;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  display: flex;
  align-items:center;
  justify-content: center;
}

.fa-star {
  color: white;
  font-size: 12px;
}

#page-title {
  margin-left: 10px;
}

#border-div {
  border-bottom: .5px solid #dedede;

}
