a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0;
    border-bottom: .5px solid #dedede;
    z-index: 1;
}

#home-button {
    font-size: 30px;
    font-weight: bold;
    color: rgb(185, 43, 39);
}

#home-button:hover {
    transition-property: opacity;
    transition-duration: .3s;
    opacity: 0.7
}

#icon-div {
    height: 30px;
    width: 30px;
}

#icon {
    height: 28px;
    width: 28px;
    color: rgb(185, 43, 39)
}


#my-profile-circle-div {
    background-color: teal;
    border-radius: 25px;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}
